<link rel="stylesheet" href="./css/members.css">

<header>

    <nav id="nav" class="row blue darken-2">
        <div class="col s12 m12 l3">
            <a href="#" class="sidenav-trigger hide-on-large-only left" data-target="nav-mobile">
                <i class="material-icons white-text">menu</i>
            </a>
            <a href="#" class="brand-logo">
                <div id="logo">
                    <img src="./images/YouTwitch.png" alt="">
                    <span class="white-text">YouTwitch</span>
                </div>
            </a>
        </div>
        <div class="col s12 m12 l6">
            <form>
                <div id="searchBarDiv">
                    <input id="search" class="white" type="search" required placeholder="Search">
                    <button type="submit" class="blue darken-2"><i class="material-icons white-text">search</i></button>
                </div>
            </form>
        </div>

        <div class="col s12 m12 l3">
            <ul class="right hide-on-med-and-down" id="navLinks">
                <li><a href="logout" class="white-text">Logout</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
    </nav>


</header>


<div class="container">
    <div class="row">
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
        <div id="videoDiv" class="col s12 m6 l3">Video Component</div>
    </div>
</div>

{{!-- JQuery --}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="./js/members.js"></script>