
<link rel="stylesheet" href="css/signUp.css">
<header>
        <nav id="nav" class="row blue darken-2">
        <div class="col s12 m12 l3">
            <a href="#" class="sidenav-trigger hide-on-large-only left" data-target="nav-mobile">
                <i class="material-icons black-text">menu</i>
            </a>
            <a href="#" class="brand-logo">
                <div id="logo">
                    <img src="./images/YouTwitch.png" alt="">
                    <span class="black-text">YouTwitch</span>
                </div>
            </a>
        </div>
</header>

<div class="container">
    <div class="child row">
        <h3 class="upText">Sign Up Form</h3>
        <form class="signup col s10">
        <div class="input-field col s12">
            <i class="tiny material-icons">email</i>
            <input type="email" class="" id="email-input" placeholder="Email">
        </div>
        <div class="input-field col s12">
            <i class="tiny material-icons">lock</i>
            <input type="password" class="" id="password-input" placeholder="Password">
        </div>
        <div class="col s12">
            <button type="submit" class="col s4 waves-effect waves-light btn" id = "signUp">Sign Up</button>
            
        <div class="col s12">
            <p class="col s6 push s1 text">or log in <a href="/login">here</a></p>
        </div>
    </div>
    </form>
    <script src="/js/signup.js"></script>
    </div>
</div>
<script src="/js/signup.js"></script>

<br />

<script src='/js/signup.js'></script>