<link rel="stylesheet" href="css/signUp.css">
<header>
    <nav id="nav" class="row blue darken-2">
        <div class="col s12">
            <a href="#" class="brand-logo">
                <div id="logo">
                    <img src="./images/YouTwitch.png" alt="">
                    <span class="black-text">YouTwitch</span>
                </div>
            </a>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-s12">
            <form class="signup">
                <h3 class="upText">Sign Up Form</h3>
                <div class="input-field">
                    <i class="tiny material-icons">email</i>
                    <input type="email" class="" id="email-input" placeholder="Enter Email">
                </div>
                <div class="input-field">
                    <i class="tiny material-icons">lock</i>
                    <input type="password" class="" id="password-input" placeholder="Enter Password">
                </div>
                <div class="input-field">
                    <button type="submit" class="waves-effect waves-light btn" id="signUp">Sign Up</button>
                </div>
                <div class="input-field">
                    <p class="push small">Already have a account? Login <a href="/">here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    @YouTwitch 2021
</footer>

<script src="/js/signup.js"></script>