/* Set the default background and font color */
body {
    /* background-color:lightskyblue;
    color: #424242; */
}

/* Add padding to image */
img {
    width: 50px;
    padding: 5px;
}

/* Set logo in the center */
#logo {
    display: flex;
    align-items: center;
}

/* Set the display arragement of Searchbar area */
#searchBarDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

/* Set padding and borders on searchbar input */
#searchBarDiv input {
    padding-left: 10px;
    border-radius: 5px;
}

/* Style the searchbar button */
#searchBarDiv button {
    border-radius: 5px;
    border: none;
}

/* Set background color and padding for Sidebar */
#nav-mobile {
    padding-left: 10px;
    /* Side Menu Background Color */
    background-color: #bbdefb;
    /* color: black; */
}

/* Set Background to White */
.darkModeOFF {
    /* Font Color */
    color: #212121;
    /* Background Color */
    background-color: #fafafa;
}

/* Set Background to Dark */
.darkModeON {
    /* Font Color */
    color: #fafafa;
    /* Background Color */
    background-color: black;
}

/* Trim the video title size to fit Video div */
    /* .cardtext{
        white-space: nowrap; 
        overflow: hidden; 
    } */

/*Footer style */
footer {
    position: fixed;
    clear: both;
    width: 100%;
    bottom: 0%;
    height: 50px;
    line-height: 50px;
    background-color: gray;
    text-align: center;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color:linen;
}

/* Set the size of Modal video */
@media screen and (max-width: 400px) {
    #iframe {
        width: 105%;
        height: 300px;
    }
}
