body{
    /* background-color: crimson; */
}
.text {
    font-size: 25px;
    line-height: 50px;
}

 .input-field {
width: 50%;

}

.container{
    margin-top: 15%;
}
.child{
    background-color: cyan;
    border-radius: 2%;
    border-style: solid;
}