body{
    /* background-color: crimson; */
}
.text {
    font-size: 25px;
    line-height: 50px;
}

 .input-field {
width: 50%;

}

.container{
    margin-top: 15%;
}
.child{
    background-color: cyan;
    border-radius: 2%;
    border-style: solid;
}

#YTLogo{
    margin-top: 10px;
}

.logo-text{
    /* text-align: center; */
    padding-bottom: 10px;
}


body {
    background-color: #f5f5f5;
    color: #424242;
}

img {
    width: 50px;
    padding: 5px;
}

#logo {
    display: flex;
    align-items: center;
}

#searchBarDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#searchBarDiv input {
    padding-left: 10px;
    border-radius: 5px;
}

#searchBarDiv button {
    border-radius: 5px;
    border: none;
}

#videoDiv {
    width: 200px;
    height: 200px;
    background-color: gray;
    text-align: center;
    padding: 40px;
    margin: 10px;
}

#nav-mobile {
    padding-left: 10px;
    /* Side Menu Background Color */
    background-color: #bbdefb;
    /* color: black; */
}

.darkModeOFF {
    /* Font Color */
    color: #212121;
    /* Background Color */
    background-color: #fafafa;
}


.darkModeON {
    /* Font Color */
    color: #fafafa;
    /* Background Color */
    background-color: black;
}

.card-content {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }


/* Sets portrait size and paddings for Screen below 992 pixels  */
/* @media screen and (max-width: 992px) {
    #logo span{
        display: flex;
        align-content: center;
        color: blue;
    }
} */
