<div class="col s12 m4">
    <a href="#{{@index}}" class="waves-effect waves-light modal-trigger">
        <div class="card darkModeOFF">
            <div class="card-image">
                <img src="{{this.thumbnails}}" alt="VideoBlock" onerror="this.onerror=null;this.src='images/image-not-found.jpg';">
                <a class="btn-floating halfway-fab waves-effect waves-light addBtn"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p class="cardtext">{{title}}</p>
            </div>
        </div>
    </a>
</div>